.current-version {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p, span {
    margin: 0;
    font-size: 11px;
}

span {
    margin-left: 8px;
}

.mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 48px;
}
