.current-version {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 599px){
    mat-toolbar{
        height: 124px;
    }
}