.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  color: rgba($color: #ffffff, $alpha: 0.8);
  &:hover {
    color: rgba($color: #ffffff, $alpha: 1);
  }
  &.active {
    color: rgba($color: #ffffff, $alpha: 1);
  }
}

mat-toolbar-row {
  height: 48px;
}