.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  color: rgba($color: #ffffff, $alpha: 0.8);
//   border-width: 0;
  &:hover {
    color: rgba($color: #ffffff, $alpha: 1);
  }
  &.active {
    color: rgba($color: #ffffff, $alpha: 1);
  }
}
