<mat-toolbar color="primary" [ngSwitch]="true">
    <mat-toolbar-row>
        <a mat-button routerLink="/" routerLinkActive="active" style="font-size: large;">WSPlan</a>

        <span class="toolbar-spacer"></span>
        <a mat-button class="toolbar-link" routerLink="/login" routerLinkActive="active"
            *ngIf="!isLoggedIn;else connected">
            <mat-icon>account_circle</mat-icon>
            Login
        </a>
        <ng-template #connected>
            <button mat-button class="toolbar-link">
                <mat-icon>account_circle</mat-icon>
                <span *ngSwitchCase="isStudentProfile" class="profil">{{name}}({{class}})</span>
                <!-- TODO: FIX ERROR: AFTER BEING LOGGED, THE NAME AND THE CLASS DO NOT APPEAR UNTIL REFRESHING THE PAGE -->
                <span *ngSwitchCase="isManagerProfile" class="profil">{{name}}</span>
            </button>
            <button mat-button class="toolbar-link" (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
                Logout
            </button>
        </ng-template>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a mat-button style="margin-left: 8px;" class="toolbar-link" routerLink="/planning/students"
            routerLinkActive="active">Students</a>
        <a mat-button class="toolbar-link" routerLink="/planning/days" routerLinkActive="active">Days</a>
        <a mat-button *ngIf="isLoggedIn" class="toolbar-link" routerLink="/planning/add"
            routerLinkActive="active">Add</a>
        <!-- TODO: FIX ERROR: AFTER BEING LOGGED, THIS LINK DO NOT APPEAR UNTIL REFRESHING THE PAGE -->
        <a *ngSwitchCase="isManagerProfile" mat-button class="toolbar-link" routerLink="/registration/new-student"
            routerLinkActive="active">Student Registration</a>
    </mat-toolbar-row>
</mat-toolbar>