.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  color: rgba($color: #ffffff, $alpha: 0.8);
  &:hover {
    color: rgba($color: #ffffff, $alpha: 1);
  }
  &.active {
    color: rgba($color: #ffffff, $alpha: 1);
  }
}

mat-toolbar-row {
  height: 48px;
}

@media (max-width: 425px) {
  mat-toolbar-row {
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    a {
      display: inline-flex;
    }
  }
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    padding: 0 8px;
  }

  .profil {
    max-width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
  }
}
