body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: rgb(226, 211, 211);
  height: 100%;
}

body * {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.playgroud {
  flex-grow: 1;
  margin: 24px auto;
}

