table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

